{{#if flash_success}}
    <div class="flash flash-success">
        <span class="flash-icon">&#10003;</span>
        <span class="flash-text">{{flash_success}}</span>
    </div>
{{/if}}
{{#if flash_error}}
    <div class="flash flash-error">
        <span class="flash-icon">&#10007;</span>
        <span class="flash-text">{{flash_error}}</span>
    </div>
{{/if}}
{{#if flash_warning}}
    <div class="flash flash-warning">
        <span class="flash-icon">&#9888;</span>
        <span class="flash-text">{{flash_warning}}</span>
    </div>
{{/if}}
{{#if flash_info}}
    <div class="flash flash-info">
        <span class="flash-icon">&#8505;</span>
        <span class="flash-text">{{flash_info}}</span>
    </div>
{{/if}}
